<% provide(:about, "active") %>

<div class="container theme-showcase" role="main">

  <div class="page-header">
    <div class="cursive"><h1>About Us <small> -A Tale of Perserverence and Idiosyncrasies</small></h1> </div>
  </div>

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">The Beginning</h2>
      <p>Sharon and Eric met while living in the Haverford College Apartments in the summer of 2009. At first, Sharon was uninterested in extending their dealings beyond those of friendship, limiting their interactions to the sorts of things in which people who are not that good of friends partake, such as large group dinners, 5-person cake baking get-togethers, group movies, etc.</p>
      <p>It took several months, but eventually, Eric proved himself to be a suitable partner for Sharon. After a date to the no-longer-extant Fellini restaurant in Ardmore, Sharon came to her senses and decided to date Eric. Since that time, things have gone swimmingly for the couple.</p>
      <p>Our protagonists found in each other...something. Some couples have been described as matches made in heaven, or soul mates. Those idyllic images, I can assure you, certainly apply to the couple at present, but more interestingly, their relationship is very much a product of the world's craft, bearing numerous idiosyncrasies as its mark. As you may know, Eric and Sharon approach their relationship informally and without much regard for tradition. The story of their engagement provides the most relevant example of their informal relationship.</p>    
    </div>
    <div class="col-md-5 col-md-pull-7">
      <%= image_tag("haverford.jpg", :alt => "cover photo", :class => "featurette-image img-responsive center-block") %>
    </div>
  </div>

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">The Engagement</h2>
      <p>In November of 2012, Sharon was in the first semester of a master's program at the University of Pittsburgh and Eric was in his second year tutoring in Ardmore. With their third anniversary upcoming, Eric decided to propose; however, he lacked the logistical means to travel to Pittsburgh. </p>
      <p>Fortunately, our protagonists reside in the 21st century, and after a thorough search of the internet marketplace Overstock.com, Eric found a ring—for an incredible bargain—and shipped it to Sharon in Pittsburgh. When Sharon received the package, Eric instructed her to wait until he got home from work so that they could open it together over Google Hangout as it was a special gift for their anniversary. Little did she know (oh, well, she knew. It wasn't that hard to figure out, after all) that contained within that box was the finest ring Overstock.com had to offer. Sharon feigned surprise upon opening the box, said she would enter into the verbal contract signified by the ring, and put the ring on. As it turns out, the ring was many sizes too big. It has not been resized because Sharon never got around to it. </p>
      <p>And here we are today, nearly 3 years later, preparing to fulfill the promise made by the ill-fitting Overstock.com ring between (at least from Google's perspective) pixel Sharon and pixel Eric.
      Real Sharon and real Eric are excited to achieve a relationship milestone in person with family and friends, instead of hackers lost in the labyrinthine halls of the internet, as witnesses.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag("combine_images.jpg", :alt => "cover photo", :class => "featurette-image img-responsive center-block") %>
    </div>
  </div>

  <div>

    <br><br><br>

  </div>
</div>
