<% provide(:eventdetails, "active") %>

<div class="container theme-showcase" role="main">

  <div class="page-header">
    <div class="cursive"><h1>Event Details <small> -A Tale of, Hopefully, A Perfect Day</small></h1> </div>
  </div>

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Ceremony and Reception Details</h2>
      <p>October 24th has always been one of Sharon's favorite days of the year for several reasons. First, 1024 is an important number in computer science as it is denoted 10000000000 in binary, and second, it's a very exciting time of the year. It was clear when we discovered that 10/24 fell on a Saturday this year that it had to be the date of our wedding. </p>
      <p>The wedding ceremony will take place on October 24th, 2015, at 3:00 at Our Lady of Lourdes Catholic Church, located at 150 Water St in New Holland, PA. The reception will begin at 5:00 at Cork Factory Hotel, located at 480 New Holland Ave #3000 in Lancaster, PA.</p>
      <p> </p>
    </div>
    <div class="col-md-5">
      <%= image_tag("corkfactory.jpg", :alt => "cover photo", :class => "featurette-image img-responsive center-block") %>
    </div>
  </div>

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Accommodations</h2>
      <p>There is a block of rooms available at the Cork Factory Hotel, the site of the reception, for any guests who wish to avail themselves of it. Cork Factory Hotel is located less than a mile away from the hip and happening downtown of Lancaster City. Hotel reservations can be made by phone at 717.735.2075.</p>
      <p>If you long for a relaxing, (almost) carless weekend, you're in luck! Amtrak's Lancaster Station is less than a mile from the hotel. It's a 10 dollar ride from Philly. We can help you find a ride to the ceremony. </p>
      <p>Lancaster County, especially in the fall, is a beautiful area. If you find yourself looking for something to do between the wedding and the reception, we strongly recommend you take some time to drive around Lancaster County. Check out some covered bridges and fall foliage; eat an Amish-made pretzel or a shoofly pie; or, just grab a beer around the corner from the hotel at Lancaster Brewing Company.</p>
      <p>If you're staying in town a bit longer, we also recommend a trip to these three other places: 1) Shady Maple, a humongous smorgasbord of very good food, 2) Kitchen Kettle, a collection of shops, one of which has amazing jam samples, and 3) the best bakery in the whole world, located at 5070 Newport Rd, Kinzers, PA, or the corner of Newport Rd and Usner Rd.</p> 
    </div>
    <div class="col-md-5 col-md-pull-7">
      <%= image_tag("lancaster.jpg", :alt => "cover photo", :class => "featurette-image img-responsive center-block") %>
    </div>
  </div>

  <div>

    <br><br><br>

  </div>
</div>