<% provide(:home, "active") %>


<div class="container theme-showcase" role="main">

  <div class="page-header">
    <div class="cursive"><h1>Home </h1> </div>
  </div>

  <div class="row featurette">
    <div class="col-md-6 col-md-push-0 home">
      <div class="welcome">
        Welcome
      </div>
      <div class="caps">
      TO THE WEDDING WEBSITE FOR
      </div>
      <div class="names">
        Sharon Warner & Eric Chesterton
      </div>
    </div>    
    <div class="col-md-6 col-md-pull-0">
      <h2 class="featurette-heading"></h2>
      <p>We hope you are as excited as we are for the festivities we have planned for 2^10, 2015. </p>

      <p>We have thoroughly edited these electronic pages to ensure that all the information you need to attend our wedding is present within them. However, the remote possibility exists that some detail eluded our notice. If you find yourself with a question, relevant to our wedding, or not, that needs answering, please don't hesitate to contact us. </p>

      <p>We look forward to celebrating our wedding with all of you.</p>   
    </div>
  </div>  

  <div>

    <br><br><br>

  </div>
</div>