<% provide(:home, "active") %>


<div class="container theme-showcase" role="main">

  <div class="page-header">
    <div class="cursive"><h1>Home </h1> </div>
  </div>

  <div class="row featurette">
    <div class="col-md-6 col-md-push-6">
      <h2 class="featurette-heading"></h2>
      <p>We hope you are as excited as we are for the festivities we have planned for 2^10, 2015. </p>

      <p>In these electronic pages, you will find all the information you need to successfully attend the wedding. If you cannot find a bit of information you think is critical, one of three things is likely the case: </p>
      <ul>
        <li>That piece of information isn't actually important</li>
        <li>You aren't navigating these pages correctly</li>
        <li>We goofed! (In which case, please let us know!)</li>
      </ul>

      <p>We look forward to celebrating our wedding with all of you.</p>   
    </div>
    <div class="col-md-6 col-md-pull-6 home">
      <div class="welcome">
        Welcome
      </div>
      TO THE WEDDING WEBSITE FOR
      <hr class="style-seven">
      <div class="names">
        Sharon Warner & Eric Chesterton
      </div>
    </div>
  </div>  

  <div>

    <br><br><br>

  </div>
</div>