<% provide(:registry, "active") %>

<div class="container theme-showcase" role="main">

  <div class="page-header">
    <div class="cursive"><h1>Registry <small> -A Tale of Gratefulness </small></h1> </div>
  </div>

  <div class="starter-template">
    <p>We appreciate you thinking of us. We are registered at Amazon, but many of the items can be purchased at other stores as well. You are welcome to buy a registry item from a non-Amazon retailer, but if you do, please make use of Amazon's "buying this gift elsewhere?" functionality to help prevent the buying of duplicate gifts.</p>
    <p><a target="_blank" href="http://www.amazon.com/registry/wedding/3H2CI427PCT2L">Amazon Registry</a> </p>
  </div>

  <div>
    <br><br><br>
  </div>  

  <div>
    <br><br><br>
  </div>
</div>