<% provide(:rsvp, "active") %>

<div class="container theme-showcase" role="main">

  <div class="page-header">
    <div class="cursive"><h1>RSVP <small> -A Tale of, Well, Nothing Yet</small></h1> </div>
  </div>

  <div class="starter-template">
    <h1>Invitations Are Coming!</h1>
    <p>RSVP functionality will be available after invitations are sent out. Stay tuned! In the meantime, if you really want to fill something out, we recommend this sporcle quiz. </p>
  </div>

  <div>
    <br><br><br>
  </div>  

  <div class="center">
      <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="spFrame554bf37c885c9" src="http://www.sporcle.com/framed/?v=6&pm&gid=712e7da302a&fid=554bf37c885c9&width=820" style="width:100%;"></iframe>
      <script type="text/javascript" src="http://www.sporcle.com/embed/embed.js?v=554bf37c885c9"></script>
  </div>

  <div>
    <br><br><br>
  </div>
</div>