<% provide(:rsvp, "active") %>

<div class="container theme-showcase" role="main">

  <div class="page-header">
    <div class="cursive"><h1>RSVP <small> -A Tale of, Well, Nothing Yet</small></h1> </div>
  </div>

  <div class="starter-template">
    <h1>Invitations Are Out!</h1>
    <p>RSVP functionality is here. Please RSVP by September 30th.</p>
  </div>

  <div>
    <br><br><br>
  </div>  

  <div class="center">
      <iframe src="https://docs.google.com/forms/d/1uhnGp4FJsV0R-SgkNqRo9ACXfBko-jkqIHvyMwpAjSg/viewform?embedded=true" width="860" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  </div>

  <div>
    <br><br><br>
  </div>
</div>