.main-page-content {
	padding-top: 100px;
}
.navbar-brand {
	font-family: 'La Belle Aurore', cursive;
	font-size: 25px;
	margin-top: -18px;
	fill: currentColor;
}
@media (max-width: 400px){
  .navbar-brand {
    font-size: 20px;
  }
}
.cursive {
    font-family: 'La Belle Aurore', cursive;   
}
.leaf {
    fill: currentColor;
    margin-left: 45%
}
.page-header {
    text-align: right;
}
.marketing {
  margin-bottom: 20px;
  text-align: center;
}
.myhome {
    padding-left: 10%;
    padding-right: 5%;
}
.weddingparty {
    width: 140px;
    height: 140px;
}
.center {
    margin-left: 10%;
    margin-right: auto; 
}
body {
    background-image: image-url("pattern-brcm.png")
}
.home {
    text-align: center;
}
.welcome {
    font-family: 'Tulpen One', cursive;
    text-align: center;
    font-size: 75px; 
    font-style: bold;
}
.names {
    font-family: 'Tulpen One', cursive;
    text-align: center;
    font-size: 50px; 
}
.jumbotron {
    margin-bottom: 0px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 600px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-image: image-url("dark.png")
}
.footer a {
    color: #983B36;
}