.main-page-content {
	padding-top: 100px;
}
.navbar-brand {
	font-family: 'La Belle Aurore', cursive;
	font-size: 25px;
	margin-top: -18px;
	fill: currentColor;
}
@media (max-width: 400px){
  .navbar-brand {
    font-size: 20px;
  }
}
.cursive {
    font-family: 'La Belle Aurore', cursive;   
}
.leaf {
    fill: currentColor;
    margin-left: 45%
}
.page-header {
    text-align: right;
}
.marketing {
  margin-bottom: 20px;
  text-align: center;
}
.myhome {
    padding-left: 10%;
    padding-right: 5%;
}
.weddingparty {
    width: 140px;
    height: 140px;
}
.center {
    margin-left: 10%;
    margin-right: auto; 
}
body {
    background-image: image-url("pattern-brcm.png")
}
.home {
    text-align: center;
}
.welcome {
    font-family: 'Tulpen One', cursive;
    text-align: center;
    font-size: 75px; 
    font-style: bold;
}
.names {
    font-family: 'Tulpen One', cursive;
    text-align: center;
    font-size: 50px; 
}
.jumbotron {
    margin-bottom: 0px;
}
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-image: image-url("dark.png");
}
.footer a {
    color: #983B36;
}

@media screen and (min-width: 992px){
    body {
        /* Margin bottom by footer height */
        margin-bottom: 600px;
    }
    .footer {
        height: 500px;
    }
}
@media screen and (max-width: 991px){
    body {
        /* Margin bottom by footer height */
        margin-bottom: 1400px;
    }
    .footer {
        height: 1400px;
    }
}
.list-group-item {
    height: 66.7px;
    line-height: 50px;
}
.twitter-timeline {
    margin: 0 auto;
}
.end {
    position: relative;
    height: 350px;
}
.end span {
    position: absolute;
    bottom: 0;
    left:50%;
    margin-left:-25%;
}
.copy {
    color: #fcebdb;
}